@keyframes rainbow-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rainbow-background {
  position: relative;
  width: 100%;
  height: 100%;
}

.rainbow-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    #ffd6da, #ffefd6, #ffffd6, #e3ffd6, #d6f0ff, #efe3ff
  );
  background-size: 200% 200%;
  animation: rainbow-animation 15s ease infinite;
  opacity: 0.4; /* Making it even more subtle */
  z-index: 0;
  pointer-events: none;
}

.rainbow-background > * {
  position: relative;
  z-index: 1;
}