@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply antialiased;
}

body {
  font-family: var(--font-text);
  font-size: var(--font-size-root);
  
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}